<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crosswire.bishop" version="1.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Bishop</name>
    <description>
        A Bible Study App from CrossWire
    </description>
    <author email="develoment@crosswire.org" href="http://crosswire.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />
    <platform name="android">
        <icon src="res/swordlogo.png" />
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-targetSdkVersion" value="17" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <config-file mode="add" parent="./application/activity" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-sword-conf" />
            </intent-filter>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-navigationbar" spec="^1.0.31" />
    <plugin name="cordova-custom-config" spec="^5.0.2" />
    <plugin name="com.napolitano.cordova.plugin.intent" spec="~0.1.2" />
    <plugin name="cordova-plugin-add-swift-support" spec="^1.7.1" />
    <plugin name="phonegap-plugin-mobile-accessibility" spec="https://github.com/phonegap/phonegap-mobile-accessibility.git" />
    <plugin name="es.keensoft.fullscreenimage" spec="^0.2.10" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.2" />
    <plugin name="org.crosswire.sword.cordova.SWORD" spec="../sword/bindings/cordova/org.crosswire.sword.cordova.SWORD" />
    <engine name="ios" spec="^4.5.4" />
</widget>
