<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crosswire.bishop" version="1.2.902" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>Bishop</name>
    <description>
        A Bible Study App from CrossWire
    </description>
    <author email="develoment@crosswire.org" href="http://crosswire.org">
        CrossWire Bible Society, Software Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <preference name="phonegap-version" value="cli-8.1.1" />

    <platform name="android">
        <icon src="res/swordlogo.png" />
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="28" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <config-file mode="add" parent="./application/activity" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-sword-conf" />
            </intent-filter>
        </config-file>

<!--
   THIS DOESN'T WORK. FIXME.  FOR NOW, THIS IS ADDED MANUALLY. DON'T FORGET!
-->
	<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
		<application android:usesCleartextTraffic="true" />
	</edit-config>

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="local" />
	<splash src="res/swordlogo-1024.png" />
	<icon src="res/swordlogo-1024.png" width="1024" height="1024" />
	<icon src="res/swordlogo-120.png" width="120" height="120" />
	<icon src="res/swordlogo-76.png" width="76" height="76" />
	<icon src="res/swordlogo-152.png" width="152" height="152" />
	<icon src="res/swordlogo-40.png" width="40" height="40" />
    </platform>
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-custom-config" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="com-darryncampbell-cordova-plugin-intent" />
    <plugin name="cordova-plugin-add-swift-support" />
    <plugin name="cordova-plugin-crosswire-sword" />
    <plugin name="phonegap-plugin-mobile-accessibility" />
    <plugin name="com-sarriaroman-photoviewer" />
    <plugin name="cordova-plugin-x-toast" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-wkwebview-engine" />
</widget>
