<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crosswire.bishop" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Bishop</name>
    <description>
        A Bible Study App from CrossWire
    </description>
    <author email="develoment@crosswire.org" href="http://crosswire.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon src="res/swordlogo.png" />
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="14" />
        <preference name="android-targetSdkVersion" value="17" />
        <preference name="AndroidLaunchMode" value="singleTop" />
        <config-file mode="add" parent="./application/activity" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-sword-conf" />
            </intent-filter>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.4.0" />
    <engine name="ios" spec="~4.5.4" />
</widget>
