* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

@font-face {
	font-family: 'AntinoouWeb';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/antinoou-webfont.woff') format('woff');
}

@font-face {
	font-family: GentiumPlus;
	font-style: normal;
	src: url('../fonts/GentiumPlus-R.woff') format('woff');
}
@font-face {
	font-family: GentiumPlus;
	font-style: italic;
	src: url('../fonts/GentiumPlus-I.woff') format('woff');
}

body,td,div,span,p,.verse,.currentVerse {
        font-family: 'SBL Greek', 'GentiumPlus', 'AntinoouWeb', SymbolGreekU, SymbolGreekTU, SymbolGreekMetU, SymbolGreekTMetU, OdysseaU, OdysseaUBSU, TeubnerLSU, TeubnerLSCU, TeubnerVerticalU, TeubnerVerticalCU, GraecaUBSU, GraecaUBSMetU, GraecaU, HellenicaU, HellenicaCU, GreekSansLSU, GreekSansLSConU, PayneU, UncialLSU;
}

.app {
	height: 100%;
	width: 100%;
	overflow:hidden;
}

#main {
	height: 100%;
	width: 100%;
	overflow:hidden;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #main {
	height: 100%;
	width: 100%;
	overflow:hidden;
    }
}

#popup {
	top:0px;
	float:left;
	height:100%;
	width:100%;
	background-color:#202020;
	position:absolute;
	opacity:0.90;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	color: #000000;
	margin: 0px 0px 0px 0px;
	z-index:10;
}

.center {
	margin-left:auto;
	margin-right:auto;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #0F9D58;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}


.topMenu {
	float:left;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #0F9D58;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 15;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
	z-index: 20;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}


.menupanel {
	top:0px;
	width:16em;
	float:left;
	height:100%;
	background-color:#303030;
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	left:-16em;
	opacity:0.90;
	z-index:5;
}
.menutab {
	background-image:url('../img/slidebaricon.png');
	background-repeat:no-repeat;
	background-size:33% 25%;
	background-position:left top;
	height:6em;
	width:6em;
	float:left;
	position:absolute;
	top:.5em;
	left:0;
	z-index:5;
	text-decoration:none;
}

table.clean {
	border-collapse: collapse;
}

table.clean td, table.clean th {
	padding: 5px 4px;
	border: 1px solid #CCC;
}

table.nobottom td, table.nobottom th {
	border-bottom: none;
}

.slidemenu {
	height:2.2em;
	line-height:2.2em;
	width:100%;
	z-index:7;
}
.slidemenu td, .slidemenu th {
	vertical-align: middle;
	padding: 0px 0px 0px 0px;
	color: #EEEEEE;
	z-index:9;
}
.slidemenu td img {
	vertical-align: middle;
}
.slidemenu select {
}

.searchPanel,.bibleSyncPanel,.bookmarkPanel,.settingsPanel,.viewSelectorPanel {
	height:0em;
	overflow:hidden;
	width:100%;
}

#bibleSyncResults,#searchResults,#bookmarkResults {
	width:100%;
	height:100%;
	top:0px;
	background-color:#444444;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	opacity:0.90;
}

#searchExpression {
	float:left;
	width:79%;
}

#searchButton {
	float:right;
	width:20%;
}

#keyDisplay {
	font-size: 210%;
	padding-left: .4em;
}

.menuLabel {
	font-size: 150%;
	height: 2em;
}

.keySelector, .keySelector td, .keySelector th {
	border-width:0;
	margin: 0px 0px 0px 0px;
	font-size: 95%;
	background-color: #b9baba;
	color: #000000;
}
.about {
	padding: 0px 1em 0px 1em;
	margin: 0px -1em 0px -1em;
	border: 1px solid #000;
	border-radius: .75em;
	background-color: #FFF;
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height:90%;
	width:80%;
	top:5%;
	left:10%;
	z-index:10;
}

table.clean thead, table.clean tfoot {
	background-color: #CCC;
}

table.clean tr.rowodd {
	background-color: #FFF;
}

table.clean tr.roweven {
	background-color: #F2F2F2;
}

#textDisplay {
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height:100%;
	width:100%;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	z-index: 3;
	-webkit-user-select: text;
}

#altDisplay {
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height:100%;
	width:50%;
	right:0px;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	-webkit-user-select: text;
	z-index: 2;
}

#footerBuffer {
	height:0;
}
#footnotes {
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	bottom:0;
	height:0;
	width:100%;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	z-index: 4;
	-webkit-user-select: text;
}

#client {
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height:100%;
	width:100%;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	-webkit-user-select: text;
}
.client {
	position:absolute;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height:100%;
	width:100%;
	color: #000000;
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	-webkit-user-select: text;
}

.bookButton {
	display: inline-block;
	font-size: 180%;
	width: 3.4em;
	height: 2.2em;
	line-height: 2.2em;
	border: 1px solid #000;
	color: #EEEEEE;
	text-align: center;
	margin:0px;
}

.ntBook {
	border: 1px solid #0B0;
}

.otBook {
	border: 1px solid #00B;
}


.instDelta {
	width:1em;
}
.instName {
	width: 7em;
	overflow: hidden;
}

.instDesc {
	width: 100%;
}

.wizardButton {
	position: absolute;
	width: 50%;
	height: 20%;
	bottom: 0px;
	right: 0px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    border: none;
    cursor: pointer;
}

.dropbtn select {
    margin-left: -.4em;
    margin-right: -.4em;
    width: auto;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Dropdown Content (Hidden by Default) */
#aux {
    position: absolute;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


#installtoolbar {
	grid-template-columns: auto 1fr 1fr auto;
}
#versestudytoolbar {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.toolbar {
	position: relative;
	height: 4em;
}

.toolbar > button, .toolbar > div {
	position: absolute;
	border: 1px solid #EEE;
	top: 0;
	bottom: 0;
}

.toolbar button.left {
	width: 4em;
	left: 0;
}

.toolbar button.right {
	width: 4em;
	right: 0;
}

.toolbar button.midLeft {
	left: 4em;
	width: calc(50% - 4em);
}

.toolbar button.midRight {
	right: 4em;
	width: calc(50% - 4em);
}

.toolbar .twentyFiveOne {
	left: 4em;
	width: calc((100% - 4em) / 4);
}

.toolbar .twentyFiveTwo {
	left: calc(4em + ((100% - 4em) / 4));
	width: calc((100% - 4em) / 4);
}

.toolbar .twentyFiveThree {
	left: calc(4em + ((100% - 4em) / 4 * 2));
	width: calc((100% - 4em) / 4);
}

.toolbar .twentyFiveFour {
	right: 0;
	width: calc((100% - 4em) / 4);
}


.toolbar > div > button {
	width: 100%;
	height: 100%;
}

.toolbar select {
	width: 100%;
}

#client iframe {
	height: 0;
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	width: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
